:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0660;
  --color-body: #918ca4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Link */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.1s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Icons */

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #f6f6f6;
  border-radius: 50%;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 25px;
  height: 25px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

/* Buttons */
.btn {
  border-radius: 4rem;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  outline: none;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--primary:hover {
  background-color: #358cff;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background: #37e1ff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #ff562c;
}

.btn--outline {
  border: 0.2rem solid var(--color-heading);
  color: var(--color-heading);
  background-color: #fff;
  transition: background-color 0.15s, color 0.15s;
}

.btn--outline:hover {
  background-color: var(--color-heading);
  color: #fff;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  padding: 0.5rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 2rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../image/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Inputs */
.input-group {
  border: 0.1rem solid rgb(217, 217, 217);
  border-radius: 4rem;
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem;
}

.input-group .btn {
  margin: 4px;
}

.input {
  font-size: 2rem;
  padding: 1.5rem 3.5rem;
  outline: 0;
  border: 0.1rem solid rgb(217, 217, 217);
  border-radius: 4rem;
  color: var(--color-heading);
}

::placeholder {
  font-size: 1.5rem;
  font-weight: 100;
  color: #d0cfd8;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }

  ::placeholder {
    font-size: 1.4rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 10px 5px #8f8f8f46;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

/* Plans */
.plan {
  border-radius: 7px;
}

.plan__name {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
}

.plan__price {
  font-size: 5rem;
}

.plan__bill-cycle {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.714);
}

.plan__description {
  font-size: 2rem;
  display: block;
}

.plan .badge {
  background-color: rgba(45, 45, 45, 0.168);
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../image/popular.svg);
  display: inline-block;
  width: 4rem;
  position: absolute;
  right: 5%;
  top: -7px;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.8rem;
  }

  .plan__price {
    font-size: 4rem;
  }

  .plan__description {
    font-size: 1.5rem;
  }

  .plan__bill-cycle {
    font-size: 1.5rem;
  }

  .plan .badge {
    font-size: 1.2rem;
  }

  .plan--popular .card__header::before {
    width: 3.5rem;
  }
}

/* Medias */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin-left: 1rem;
}

.media__image {
  position: relative;
  top: 1rem;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: #5c5577;
  line-height: 1.3;
}

.quote__text {
  margin-bottom: 4rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__icon {
  position: relative;
  top: -1.5rem;
}

.quote__author {
  font-size: 3rem;
  font-style: normal;
  margin-bottom: 0;
}

.quote__company {
  font-size: 2rem;
  font-style: normal;
  color: var(--color-heading);
  opacity: 0.4;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 3rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */
.testimonial {
  padding: 3.5rem;
}

.testimonial__image > img {
  width: 100%;
  display: block;
}

.testimonial__image {
  position: relative;
}

.testimonial__image .icon-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 25%);
}

.testimonial__quote,
.testimonial__image {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .testimonial {
    grid-template-columns: 4.5fr 5.5fr;
  }

  .testimonial__quote,
  .testimonial__quote .quote__author {
    font-size: 2.4rem;
  }

  .testimonial__quote .quote__company {
    font-size: 1.6rem;
  }
}
