<div class="collapsable collapsable--expanded">
  <header class="collapsable__header">
    <h2>Item 1</h2>
    <svg class="icon icon--white collapsable__chevron">
      <use xlink:href="image/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsable__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quidem
    recusandae ipsa laudantium ex numquam, excepturi architecto magnam modi
    consequuntur doloremque aperiam id, nobis quis necessitatibus eligendi
    saepe? Eius, magni!
  </div>
</div>
