<section class="block block--dark">
  <div class="grid footer">
    <div>
      <img class="footer__image" src="image/logo.svg" alt="" />
      <p>Copyright&copy; 2022 mosh</p>
    </div>
    <div class="collapsable collapsable--expanded footer__item">
      <header class="collapsable__header">
        <h2 class="footer__heading">Products</h2>
        <svg class="icon icon--white collapsable__chevron footer__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="collapsable__content">
        <li>Wordpress Hosting</li>
        <li>Free Automated Wordpress</li>
        <li>Migrations</li>
        <li>Domain Names</li>
        <li>Monthly Hosting</li>
      </ul>
    </div>
    <div class="collapsable collapsable--expanded footer__item">
      <header class="collapsable__header">
        <h2 class="footer__heading">Company</h2>
        <svg class="icon icon--white collapsable__chevron footer__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="collapsable__content">
        <li>About</li>
        <li>Affiliates</li>
        <li>Blog</li>
        <li>Careers</li>
        <li>Community</li>
        <li>News</li>
        <li>Green Hosting</li>
      </ul>
    </div>
    <div class="collapsable collapsable--expanded footer__item">
      <header class="collapsable__header">
        <h2 class="footer__heading">Support</h2>
        <svg class="icon icon--white collapsable__chevron footer__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="collapsable__content">
        <li>Contact</li>
        <li>Knowledge Base</li>
        <li>Forums</li>
        <li>System Status</li>
        <li>Web Hosting</li>
        <li>Dream Compute</li>
      </ul>
    </div>
    <div class="collapsable collapsable--expanded footer__item">
      <header class="collapsable__header">
        <h2 class="footer__heading">Domain</h2>
        <svg class="icon icon--white collapsable__chevron footer__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="collapsable__content">
        <li>Domain Checker</li>
        <li>Domain Transfer</li>
        <li>Free Domain</li>
        <li>XYZ Domain</li>
        <li>Cheap SSL Certificate</li>
      </ul>
    </div>
  </div>
</section>
