<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rem nemo
      doloribus minima adipisci atque non velit harum natus consequatur,
      veritatis dolorem? Quis exercitationem molestiae sint ea ipsum, magnam
      placeat.
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__icon">
            <use xlink:href="image/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">
            Puthearith Bona
          </h3>
          <p class="quote__company">ABC Company</p>
          <footer></footer>
        </div>
      </div>
    </footer>
  </blockquote>